html { 
  box-sizing: border-box;
  background-color: #FAEDE8;
}

body {
  margin: auto;
  padding: 30px 30px;
  color: rgba(81, 81, 81, 1);
  font-family: PP-Editorial-New-UltraLight;
}

@font-face {
  font-family: PP-Editorial-New-UltraLight;
  src: url("fonts/PPEditorialNew-Ultralight.woff2") format("woff2"),
  url("fonts/PPEditorialNew-Ultralight.woff") format("woff");
}

@font-face {
  font-family: PP-Editorial-New-UltralightItalic;
  src: url("fonts/PPEditorialNew-UltralightItalic.woff2") format("woff2"),
  url("fonts/PPEditorialNew-UltralightItalic.woff") format("woff");
}

i {
  font-family: PP-Editorial-New-UltralightItalic;
}

span {
  color: rgba(81, 81, 81, 1);
  font-size: 18px;
}

.container {
  overflow-x: hidden;
}
.header {
  height: 95vh;
  width: 100%;
  padding: 0;
  text-align: center;
  overflow: hidden;
  color: rgba(81, 81, 81, 1);
  font-size: 6.4vw;
  font-family: PP-Editorial-New-UltraLight;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  justify-content: center;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 6.4vw;
}

.intro {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-bottom: 5px;
}

#form p {
  font-size: 25px;
}

#form {
  border: 1px solid rgba(81, 81, 81, 1);
  padding: 25px 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  vertical-align: middle;
}

.info {
  font-size: 21px;
  width: 60%;
  padding-bottom: 50px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

#menu {
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 35px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: PP-Editorial-New-Ultralight;
  color: rgba(81, 81, 81, 1);
}

#menu:hover {
  color: #bfa3a3;
}

#menu-mobile:hover {
  color: #bfa3a3;
}

.myBtn {
  transition: 0.2s ease-in-out;
}

#menu-mobile {
  font-size: 60px;
  position: fixed;
  right: 10px;
  top: 0px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: PP-Editorial-New-Ultralight;
  color: rgba(81, 81, 81, 1);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  border: 10px solid;
  font-size: 21px;
  background-color: #FAEDE8;
  margin: auto;
  padding: 40px 40px;
  border: 1px solid #888;
  width: 60%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: rgba(81, 81, 81, 1);
  float: right;
  font-size: 28px;
}

.close:hover {
  color: #bfa3a3;
  cursor: pointer;
}

.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from {bottom: 500px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: 500px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

#r, #g, #b {
  margin-bottom: 15px;
  -webkit-transition: 1s;
  transition: opacity 1s;
}

#r:hover {
  background-color: red;
}

#g:hover {
  background-color: green;
}

#b:hover {
  background-color: blue;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.col {
  margin-right: 20px;
}

.slidecontainer {
  width: 50%;
  padding-bottom: 50px;
  transition: all 0.3s linear;
}

.slider, .colorslider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: #FAEDE8;
  border: 1px solid rgba(81, 81, 81, 1);
  border-radius: 2px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover, .colorslider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb, .colorslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid rgba(81, 81, 81, 1);
  background-color: #FAEDE8;
  cursor: pointer;
}

.slider::-moz-range-thumb, .colorslider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid rgba(81, 81, 81, 1);
  background-color: #FAEDE8;
  cursor: pointer;
}

#swatch {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(81, 81, 81, 0.7);
  border-radius: 2px;
  background-color: #FAEDE8;
}

datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 5px;
}

label {
  font-family: PP-Editorial-New-UltraLight;
  color: rgba(81, 81, 81, 1);
  font-size: 20px;
  padding-right: 60px;
}

input[type=range] {
  box-shadow: none !important;
}

.seasons input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.seasons label {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.seasons label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid rgba(81, 81, 81, 1);
  border-radius: 4px; 
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.seasons input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 14px;
  border: solid rgba(81, 81, 81, 1);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

button[type=submit] {
  font-family: PP-Editorial-New-UltraLight;
  color: rgba(81, 81, 81, 1);
  font-size: 25px;
  padding:10px 20px; 
  border:1px solid rgba(81, 81, 81, 0.7);
  background-color: #FAEDE8;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  margin-bottom: 15px;
}

section {
  margin-top: 30px;
}
#palette, #quilt {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: move;
}

#quilt {
  border: 1px solid rgba(191, 163, 163, 1);
}

#palette {
  margin-bottom: 20px;
}

.draggable {
  transition: width 0.2s ease-in;
}

@media screen and (min-width: 861px) {
  .draggable {
    width: 136px;
    height: 136px;
  }

  .mainContent {
    width: 136px;
    height: 136px;
  }
}

@media screen and (max-width: 860px) {
  .draggable {
    width: 100px;
    height: 100px;
  }

  .mainContent {
    width: 100px;
    height: 100px;
  }

  table {
    margin-top: 7%;
  }

  .slidecontainer {
    width: 100%;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .draggable {
    width: 70px;
    height: 70px;
  }

  .mainContent {
    width: 70px;
    height: 70px;
  }

  table {
    margin-top: 7%;
  }

  .info {
    width: 100%;
  }

}

@media screen and (min-width: 481px) {
  #menu {
    display: block !important;
  }

  #menu-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {

  .draggable {
    width: 50px;
    height: 50px;
  }

  .mainContent {
    width: 50px;
    height: 50px;
  }

  #menu-mobile {
    display: block !important;
  }

  #menu {
    display: none !important;
  }

}

@media screen and (max-width: 500px) {
  table {
    margin-top: 7%;
  }

  .header {
    height: 50vh;
  }

  #form {
    padding: 25px 20px;
  } 
}

table {
  transition: margin 0.3s ease-in;
}

table, tr, td {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.droppable {
  padding: 0; 
  margin: 0;
  background: rgba(0,0,0,0.1);
  /*vertical-align: middle; */
}

#div1 {
  background: url("test-08.svg");
  background-repeat: no-repeat;
}

#div2 {
   background: url("test-16.svg");
   background-repeat: no-repeat;
}

#div3 {
   background: url("test-34.svg");
   background-repeat: no-repeat;
}

#div4 {
   background: url("test-17.svg");
   background-repeat: no-repeat;
}

#div5 {
   background-image: url("test-15.svg");
   background-repeat: no-repeat;
}

#div6 {
   background-image: url("test-10.svg");
   background-repeat: no-repeat;
}

#div7 {
   background-image: url("test-18.svg");
   background-repeat: no-repeat;
}

#div8 {
   background: url("test-24.svg");
   background-repeat: no-repeat;
}

#div9 {
   background-image: url("test-19.svg");
   background-repeat: no-repeat;
}

#div10 {
   background: url("test-25.svg");
   background-repeat: no-repeat;
}

#div11 {
   background-image: url("test-11.svg");
   background-repeat: no-repeat;
}

#div12 {
   background-image: url("test-31.svg");
   background-repeat: no-repeat;
}

.placeholder {
  background-color: #FAEDE8;
}