html { 
  box-sizing: border-box;
  background-color: #FAEDE8;
}

body {
  margin: auto;
  padding: 50px;
  color: rgba(81, 81, 81, 1);
  font-family: PP-Editorial-New-UltraLight;
}

@font-face {
  font-family: PP-Editorial-New-UltraLight;
  src: url("fonts/PPEditorialNew-Ultralight.woff2") format("woff2"),
  url("fonts/PPEditorialNew-Ultralight.woff") format("woff");
}

@font-face {
  font-family: PP-Editorial-New-UltralightItalic;
  src: url("fonts/PPEditorialNew-UltralightItalic.woff2") format("woff2"),
  url("fonts/PPEditorialNew-UltralightItalic.woff") format("woff");
}

#menu {
  position: fixed;
  right: 40px;
  top: 40px;
  font-size: 30px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: PP-Editorial-New-Ultralight;
  color: rgba(81, 81, 81, 1);
  transition: all 0.2s ease;
}

#menu:hover {
  color: rgba(191, 163, 163, 1);
}

#menu-mobile:hover {
  color: rgba(191, 163, 163, 1);
}

#menu-mobile {
  float: right;
  font-size:50px;
  position: fixed;
  right: 25px;
  top: 25px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: PP-Editorial-New-Ultralight;
  color: rgba(81, 81, 81, 1);
  transition: all 0.2s ease;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  border: 10px solid;
  font-size: 20px;
  background-color: #FAEDE8;
  margin: auto;
  padding: 30px 40px;
  border: 1px solid #888;
  width: 50%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,

.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from {bottom: 500px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: 500px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

#palette, #quilt {
  margin-left: auto;
  margin-right: auto;
}

#quilt {
  cursor: move;
}

#palette {
  padding-bottom: 10%;
  margin-bottom: 20px;
  cursor: move;
}

.draggable {
  transition: width 0.15s ease-in;
}

@media screen and (min-width: 851px) {
  .draggable {
    width: 125px;
    height: 125px;
  }

  .mainContent {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 850px) {
  .draggable {
    width: 105px;
    height: 105px;
  }

  .mainContent {
    width: 105px;
    height: 105px;
  }
}

@media screen and (max-width: 768px) {
  .draggable {
    width: 75px;
    height: 75px;
  }

  .mainContent {
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-width: 610px) {
  .draggable {
    width: 62px;
    height: 62px;
  }

  .mainContent {
    width: 62px;
    height: 62px;
  }

  #menu {
    display: none;
  }

  #menu-mobile {
    display: inline-block;
  }
}

@media screen and (min-width: 611px) {
  #menu {
    display: inline-block;
  }

  #menu-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  #menu {
    display: none;
  }

  #menu-mobile {
    display: block;
  }
}


table, tr, td {
  cellpadding="0";
  cellspacing="0";
  border="0";
  border-collapse: collapse;
}

.droppable {
  padding: 0; 
  margin: 0;
  background: rgba(0,0,0,0.1);
  vertical-align: middle;
}

#div1 {
   background-image: url("tiles-08.svg");
   background-repeat: no-repeat;
}

#div2 {
   background-image: url("tiles-09.svg");
   background-repeat: no-repeat;
}

#div3 {
   background-image: url("tiles-10.svg");
   background-repeat: no-repeat;
}

#div4 {
   background-image: url("tiles-11.svg");
   background-repeat: no-repeat;
}

#div5 {
   background-image: url("tiles-12.svg");
   background-repeat: no-repeat;
}

#div6 {
   background-image: url("tiles-13.svg");
   background-repeat: no-repeat;
}

#div7 {
   background-image: url("tiles-14.svg");
   background-repeat: no-repeat;
}

#div8 {
   background-image: url("tiles-15.svg");
   background-repeat: no-repeat;
}

#div9 {
   background-image: url("tiles-16.svg");
   background-repeat: no-repeat;
}

#div10 {
   background-image: url("tiles-17.svg");
   background-repeat: no-repeat;
}

#div11 {
   background-image: url("tiles-18.svg");
   background-repeat: no-repeat;
}

#div12 {
   background-image: url("tiles-19.svg");
   background-repeat: no-repeat;
}

.placeholder {
  background-color: #FAEDE8;
}